/* Global styles */
@layer base {
  body {
    background: var(--color-background-1);
    color: var(--color-text);
    font-family: var(--font-sans);
  }

  html,
  body {
    @apply h-full;
  }
}

/* Use the components layer for any more complicated classes you want to add to your project that you'd still like to be able to override with utility classes.

Traditionally these would be classes like card, btn, badge — that kind of thing. */
@layer components {
  /* Home */
  .home {
    @apply flex h-screen divide-x-2 divide-[var(--color-border)];
  }

  /* Sidebar */
  .sidebar {
    /* Use the @apply directive to inline any existing utility classes into your own custom CSS: */
    /* This is useful when you need to write custom CSS (like to override the styles in a third-party library) but still want to work with your design tokens and use the same syntax you’re used to using in your HTML. */
    @apply flex flex-col justify-center h-full
    bg-[var(--color-sidebar-background-default)]
    text-[var(--color-sidebar-text-default)]
    p-[var(--spacing-3)];
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-[var(--spacing-2)] m-[var(--spacing-2)]
    min-w-max left-14
    rounded-[var(--radius-2)]
    shadow-md
    text-[var(--color-tooltip-text-default)]
    bg-[var(--color-tooltip-background-default)]
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-[var(--color-button-sidebar-background-default)]
    border-[var(--color-sidebar-border-default)]
    rounded-[var(--radius-round)] mx-[var(--spacing-2)];
  }

  /* Channel Bar */
  .channelbar-title {
    @apply text-lg text-[var(--color-channelbar-title-default)];
  }

  .channel-bar {
    @apply flex flex-col w-[var(--size-channelbar-width)] h-full
    bg-[var(--color-channelbar-background-default)]
    text-[var(--color-channelbar-text-default)]
    p-[var(--spacing-4)];
  }

  /* Main section */
  .main-section {
    @apply flex flex-1 flex-col;
  }

  /* Top Navigation */
  .top-navigation {
    @apply flex items-center justify-between
    bg-[var(--color-topnav-background-default)]
    /* h-[var(--size-topnav-height)] */
    p-[var(--spacing-3)];
  }

  .top-navigation-title {
    @apply text-lg font-semibold text-[var(--color-topnav-title-text-default)]
    p-[var(--spacing-1)];
  }

  .title-icon {
    @apply flex items-center justify-center
    p-[var(--spacing-1)]
    w-[var(--size-icon-1)] h-[var(--size-icon-1)]
    text-[var(--color-topnav-title-text-default)]
    bg-[var(--color-topnav-title-icon-background-default)]
    rounded-[var(--radius-round)];
  }

  .title {
    @apply flex items-center gap-[var(--spacing-2)];
  }

  .top-navigation-actions {
    @apply flex items-center gap-[var(--spacing-2)];
  }

  .top-navigation-search {
    @apply rounded-[var(--radius-2)]
    focus:outline-none;
  }

  .search {
    @apply flex items-center
    bg-[var(--color-topnav-search-background-default)]
    hover:bg-[var(--color-topnav-search-background-hover)]
    text-[var(--color-topnav-search-text-default)]
    hover:text-[var(--color-topnav-search-text-hover)]
    px-[var(--spacing-2)] py-[var(--spacing-1)]
    gap-[var(--spacing-2)]
    rounded-[var(--radius-3)];
  }

  /* Main Content */
  .main-content {
    @apply flex
    flex-auto
    flex-col

    p-[var(--spacing-6)]
    gap-[var(--spacing-2)]

    bg-[var(--color-main-content-background-default)]
    text-[var(--color-main-content-text-default)];
  }

  .button-component {
    @apply flex
    flex-col

    gap-[var(--spacing-8)];
  }

  .button-container {
    @apply flex
    flex-col

    gap-[var(--spacing-2)];
  }

  .button-list {
    @apply flex flex-wrap
    gap-[var(--spacing-4)];
  }

  /* Buttons */
  .button {
    @apply /* Layout */
    inline-flex
    items-center
    
    /* Spacing */
    px-[var(--spacing-2)]
    py-[var(--spacing-1)]
    gap-[var(--spacing-1)]

    /* Radius */
    rounded-[var(--radius-3)]

    /* Typography */
    text-sm
    font-medium
    text-center

    /* Animation */
    cursor-pointer
    transition-all
    duration-300
    ease-in-out;
  }

  .button-primary-filled {
    @apply /* Background */
    bg-transparent
    hover:bg-[var(--color-button-background-primary-hover)]

    /* Border */
    border border-[var(--color-button-text-primary-default)]
    hover:border-[var(--color-button-text-primary-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1
    /* --tw-ring-color: currentColor */

    /* Text */
    text-[var(--color-button-text-primary-default)]
    hover:text-[var(--color-button-text-primary-hover)]
    dark:text-[var(--color-button-text-primary-default)]
    dark:hover:text-[var(--color-button-text-primary-hover)];
  }

  .button-neutral-filled {
    @apply /* Background */
    bg-transparent
    hover:bg-[var(--color-button-background-neutral-hover)]

    /* Border */
    border border-[var(--color-button-text-neutral-default)]
    hover:border-[var(--color-button-text-neutral-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-neutral-default)]
    hover:text-[var(--color-button-text-neutral-hover)]
    dark:text-[var(--color-button-text-neutral-default)]
    dark:hover:text-[var(--color-button-text-neutral-hover)];
  }

  .button-success-filled {
    @apply /* Background */
    bg-transparent
    hover:bg-[var(--color-button-background-success-hover)]

    /* Border */
    border border-[var(--color-button-text-success-default)]
    hover:border-[var(--color-button-text-success-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-success-default)]
    hover:text-[var(--color-button-text-success-hover)]
    dark:text-[var(--color-button-text-success-default)]
    dark:hover:text-[var(--color-button-text-success-hover)];
  }

  .button-error-filled {
    @apply /* Background */
    bg-transparent
    hover:bg-[var(--color-button-background-error-hover)]

    /* Border */
    border border-[var(--color-button-text-error-default)]
    hover:border-[var(--color-button-text-error-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-error-default)]
    hover:text-[var(--color-button-text-error-hover)]
    dark:text-[var(--color-button-text-error-default)]
    dark:hover:text-[var(--color-button-text-error-hover)];
  }

  .button-info-filled {
    @apply /* Background */
    bg-transparent
    hover:bg-[var(--color-button-background-info-hover)]

    /* Border */
    border border-[var(--color-button-text-info-default)]
    hover:border-[var(--color-button-text-info-hover)]
    
    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-info-default)]
    hover:text-[var(--color-button-text-info-hover)]
    dark:text-[var(--color-button-text-info-default)]
    dark:hover:text-[var(--color-button-text-info-hover)];
  }

  .button-primary-outline {
    @apply /* Background */
    bg-transparent

    /* Border */
    border border-[var(--color-button-text-primary-default)]
    hover:border-[var(--color-button-text-primary-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1
    /* --tw-ring-color: currentColor */

    /* Text */
    text-[var(--color-button-text-primary-default)]
    hover:text-[var(--color-button-text-primary-hover)]
    dark:text-[var(--color-button-text-primary-default)]
    dark:hover:text-[var(--color-button-text-primary-hover)];
  }

  .button-neutral-outline {
    @apply /* Background */
    bg-transparent

    /* Border */
    border border-[var(--color-button-text-neutral-default)]
    hover:border-[var(--color-button-text-neutral-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-neutral-default)]
    hover:text-[var(--color-button-text-neutral-hover)]
    dark:text-[var(--color-button-text-neutral-default)]
    dark:hover:text-[var(--color-button-text-neutral-hover)];
  }

  .button-success-outline {
    @apply /* Background */
    bg-transparent

    /* Border */
    border border-[var(--color-button-text-success-default)]
    hover:border-[var(--color-button-text-success-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-success-default)]
    hover:text-[var(--color-button-text-success-hover)]
    dark:text-[var(--color-button-text-success-default)]
    dark:hover:text-[var(--color-button-text-success-hover)];
  }

  .button-error-outline {
    @apply /* Background */
    bg-transparent

    /* Border */
    border border-[var(--color-button-text-error-default)]
    hover:border-[var(--color-button-text-error-hover)]

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-error-default)]
    hover:text-[var(--color-button-text-error-hover)]
    dark:text-[var(--color-button-text-error-default)]
    dark:hover:text-[var(--color-button-text-error-hover)];
  }

  .button-info-outline {
    @apply /* Background */
    bg-transparent

    /* Border */
    border border-[var(--color-button-text-info-default)]
    hover:border-[var(--color-button-text-info-hover)]
    
    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-info-default)]
    hover:text-[var(--color-button-text-info-hover)]
    dark:text-[var(--color-button-text-info-default)]
    dark:hover:text-[var(--color-button-text-info-hover)];
  }

  .button-primary-ghost {
    @apply /* Background */
    bg-transparent
    /* hover:bg-[var(--color-button-background-neutral-default)]

    /* Border */
    /* border border-[var(--color-button-text-primary-default)]
    hover:border-[var(--color-button-text-primary-hover)] */

    /* Ring */
    focus:outline-none
    focus:ring-1
    /* --tw-ring-color: currentColor */

    /* Text */
    text-[var(--color-button-text-primary-default)]
    hover:text-[var(--color-button-text-primary-hover)]
    dark:text-[var(--color-button-text-primary-default)]
    dark:hover:text-[var(--color-button-text-primary-hover)];
  }

  .button-neutral-ghost {
    @apply /* Background */
    bg-transparent

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-neutral-default)]
    hover:text-[var(--color-button-text-neutral-hover)]
    dark:text-[var(--color-button-text-neutral-default)]
    dark:hover:text-[var(--color-button-text-neutral-hover)];
  }

  .button-success-ghost {
    @apply /* Background */
    bg-transparent

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-success-default)]
    hover:text-[var(--color-button-text-success-hover)]
    dark:text-[var(--color-button-text-success-default)]
    dark:hover:text-[var(--color-button-text-success-hover)];
  }

  .button-error-ghost {
    @apply /* Background */
    bg-transparent

    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-error-default)]
    hover:text-[var(--color-button-text-error-hover)]
    dark:text-[var(--color-button-text-error-default)]
    dark:hover:text-[var(--color-button-text-error-hover)];
  }

  .button-info-ghost {
    @apply /* Background */
    bg-transparent
    
    /* Ring */
    focus:outline-none
    focus:ring-1

    /* Text */
    text-[var(--color-button-text-info-default)]
    hover:text-[var(--color-button-text-info-hover)]
    dark:text-[var(--color-button-text-info-default)]
    dark:hover:text-[var(--color-button-text-info-hover)];
  }

  .button-sidebar {
    @apply /* Layout */
    relative
    flex
    items-center
    justify-center

    /* Size */
    h-[var(--size-icon-2)]
    w-[var(--size-icon-2)]

    /* Spacing */
    mt-[var(--spacing-2)]
    mb-[var(--spacing-2)]
    mx-auto

    /* Background */
    bg-[var(--color-button-sidebar-background-default)]
    hover:bg-[var(--color-button-sidebar-background-hover)]
    
    /* Radius */
    rounded-[var(--radius-round)]
    hover:rounded-[var(--radius-3)]

    /* Shadow */
    shadow-lg
    
    /* Text */
    text-[var(--color-button-sidebar-text-default)]
    hover:text-[var(--color-button-sidebar-text-hover)]

    /* Animation */
    cursor-pointer
    transition-all
    duration-300
    ease-in-out;
  }
}
