* {
  font-family: verdana;
  margin: 0;
}

body {
  background: rgb(37, 41, 41);
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: rgb(20, 20, 20);
}

.box {
  height: 100px;
  min-width: 100px;
  /* flex-grow: 1; */
}

.one {
  background: rosybrown;
  flex-grow: 2;
}

.two {
  background: mediumpurple;
  flex-grow: 3;
}

.three {
  background: lightskyblue;
  flex-grow: 1;
}

/* these flex-grow values could be used for 12 columns layout */