/*// BASE STYLES //*/

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

/* animation-name: drive;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-direction: reverse;
  animattion-iteration-count: infinite;
  
  animation-timing-function: ease-in-out;
  cool sites for setting timing functions (cubic-bezier):
  http://easings.net/
  https://cubic-bezier.com

  animation-iteration-count: infinite; */

.mario {
  position: absolute;
  top: -40px;
  left: 0;
  animation: drive 2s 0.3s both linear infinite;
}

.luigi {
  position: absolute;
  top: 40px;
  left: 0;
  animation: driveAndJump 2s cubic-bezier(0, 0.1, 0.7, 0.4) infinite;
  z-index: 1;
}

.banana {
  position: absolute;
  bottom: 60px;
  left: 25%; /* adjust based on where you want it */
  width: 50px;
  height: auto;
  animation: spin 2s linear infinite;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 250px;
  top: 150px;
  opacity: 0.75;
  z-index: 2;
  animation: clouds 14s reverse ease infinite;
}

.cloud:nth-child(2) {
  width: 200px;
  top: 50px;
  opacity: 0.5;
  z-index: 1;
  animation: clouds 14s reverse ease-in-out infinite;
}

/*// KEYFRAMES //*/
@keyframes drive {
  from {
    transform: translateX(-20vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes clouds {
  from {
    transform: translateX(-50vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes driveAndJump {
  0% {
    transform: translateX(-20vw);
    top: 40px;
  }
  20% {
    top: 40px;
    transform: translateX(0vw) rotate(0deg);
  }
  40% {
    top: 0px;
    transform: translateX(15vw) rotate(-180deg);
  }
  50% {
    top: 40px;
    transform: translateX(30vw) rotate(-360deg);
  }
  100% {
    transform: translateX(100vw) rotate(-360deg);
    top: 40px;
  }
}
