<h1>My Goals for the Year</h1>

<hr>

<nav>
    <ul>
        <li>
            <a href="#html">The HTML</a>
        </li>
        <li>
            <a href="#vacation">Vacation</a>
        </li>
    </ul>
</nav>

<hr> <!-- horizontal rule - line across page -->

<section id="html">
    <h2>and there</h2>
    <p>I am a paragraph</p>
    <!-- width & height attributes not required but recommended, after naming just one, second will be calculated keeping aspect ratio -->
    <img src="static/images/html_logo_300x300.png" alt="HTML5 logo" title="HTML5 logo" width="300">
    <figure>
        <figcaption>
            An Example of HTML5 code
        </figcaption>
        <p>
            <code>&lt;h1&gt;Heading&lt;/h1&gt;</code>
        </p>
    </figure>

    <h3>My Daily Schedule</h3>
    <p>Let me tell you how...</p>
    <ol> <!-- ordered list - numbered list -->
        <li>&nbsp;&nbsp;&nbsp;...I learn more about web dev. <!-- line break --> </li>
        <li>&nbsp;&nbsp;&nbsp;I check available resources...</li>
        <li>&nbsp;&nbsp;&nbsp;...then experiment with them.</li>
        <li>&nbsp;&nbsp;&nbsp;I use resources from <abbr title="Mozilla Developer Network">
                <a href="https://developer.mozilla.org/en-US/">MDN</a></abbr></li>
        <!-- &nbsp; - non-breaking space, <abbr> - abbreviation, <a> - anchor with absolute reference -->
    </ol>
</section>

<hr>

<section id="vacation">
    <h2>I am also planning a vacation</h2>
    <p>Maybe in this life. <em>Beach and sun would be nice.</em></p> <!-- <em> - emphasis tag -->

    <h3>Place i'd like to visit</h3>
    <ul> <!-- unordered list - bullet list -->
        <li>
            <p>I've heard good things about the Carribbean</p>
            <figure>
                <img src="static/images/caribbean.jpg" alt="Caribbean beach" title="I'd like to visit" width="400" height="225" loading="lazy"> <!-- lazy for images below the fold (load when visible) -->
                <figcaption>
                    Caribbean beach
                </figcaption>
            </figure>
        </li>
        <li>
            <p>I've heard good things about going here:</p>
            <address> <!-- address tag - for contact info -->
                Margaritaville Island Reserve Riviera Cancún<br>
                Bahia Petempich Puerto Morelos, Mexico<br>
                Colonia Morelos, México 77580
            </address>
            <figure>
                <img src="static/images/vacation.jpg" alt="Cancun Vacation" title="It's 5 o'clock somewhere" width="400" height="267" loading="lazy">
                <figcaption>
                    A Caribbean Vacation Image
                </figcaption>
            </figure>
        </li>
    </ul>

    <h3>Places I want to avoid</h3>
    <dl> <!-- description list - list of terms and definitions -->
        <dt>North Pole</dt> <!-- definition term -->
        <dd>I heard this is <strong>cold</strong>!</dd> <!-- definition description -->

        <dt>South Pole</dt>
        <dd>This is <strong>too cold</strong>!</dd>

        <p>Anywhere cold. <strong>No way!</strong></p> <!-- <strong> - strong tag - bold -->
    </dl>
</section>