.sidebar {
  background: rgb(var(--background-sidebar-default));
}
/* Divider */
.sidebar-hr {
  /* Small vertical group separator between sidebar buttons */
  width: 1px;
  height: 28px;
  margin: 12px auto;
  background: rgb(var(--color-divider));
  border: none;
}
/* Tooltip */
.sidebar-tooltip {
  color: rgb(var(--text-tooltip-default));
  background: rgb(var(--background-tooltip-default));
}
