.sidebar {
  background: rgb(var(--background-sidebar-default));
}
/* Divider */
.sidebar-hr {
  border: 1px solid rgb(var(--border-sidebar-default));
}
/* Tooltip */
.sidebar-tooltip {
  color: rgb(var(--text-tooltip-default));
  background: rgb(var(--background-tooltip-default));
}
