.button-primary-filled {
  background-color: var(--color-button-background-primary);
  border: 1px solid var(--color-button-text-primary-default);
  color: var(--color-button-text-primary-default);
}
.button-primary-filled:hover {
  background-color: var(--color-button-background-primary-hover);
  border-color: var(--color-button-text-primary-hover);
  color: var(--color-button-text-primary-hover);
}
.button-primary-filled:focus {
}
