.button-sidebar-primary-filled {
  background: rgb(var(--background-button-sidebar-default));
  color: rgb(var(--text-button-sidebar-default));
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-lg);
}

.button-sidebar-primary-filled:hover,
.button-sidebar-primary-filled:focus-visible {
  background: rgb(var(--background-button-sidebar-hover));
  color: rgb(var(--text-button-sidebar-hover));
  border-radius: var(--radius-3);
}

.sidebar-tooltip {
  background-color: rgb(var(--background-tooltip-default));
  color: rgb(var(--text-tooltip-default));
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-neutral);
}
