/* level-1-global | Overrided base variables */
@theme {
  /* Fonts */
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

/* level-2-base | Always generated tokens (used or not) */
@theme static {
  /* Sizing */
  --size-sidebar-width: 4rem;
  --size-channelbar-width: 16rem;
  --size-topnav-height: 3rem;
  --size-icon-1: 2rem;
  --size-icon-2: 3rem;

  /* Radius */
  --radius-1: calc(var(--radius) - 4px);
  --radius-2: calc(var(--radius) - 2px);
  --radius-3: var(--radius);
  --radius-round: 50%;

  /* Spacing */
  --spacing-1: var(--spacing);
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);
  --spacing-5: calc(var(--spacing) * 5);
  --spacing-6: calc(var(--spacing) * 6);
  --spacing-7: calc(var(--spacing) * 7);
  --spacing-8: calc(var(--spacing) * 8);
}
