.topNavigation {
  background: rgb(var(--color-topnav-background-default));
  color: rgb(var(--text-topnav-title-text-default));
}

.titleIcon {
  background: rgb(var(--color-topnav-title-icon-background-default));
  color: rgb(var(--text-topnav-title-text-default));
}

.topNavigationSearch {
  background: rgb(var(--color-topnav-search-background-default));
  color: rgb(var(--text-topnav-search-text-default));
}
